
body {
    font-size: large;
    background-color: slateblue;
    color:seashell;
    text-shadow: black 0.5px 0.5px 0.5px;

    margin: 0 auto;
    max-width: 1800px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 32px 0;
}
main {
    clear: both;
    margin: 1rem;
}
main section:first-child {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    word-break: keep-all;
    width: 20rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul h3 {
    margin: 0;
    display: inline-block;
}


li ul li {
    margin-left: 1rem;
}

img {
    display: block;
    width: 100%;
}

a {
    position: relative;
    display: inline-block;
    color: seashell;
    text-decoration: none;
    border: seashell solid 1px;
    padding: 4px;
    margin: 16px 0;
    left: 50%;
    transform: translateX(-50%);
}

a:hover {
    color: slateblue;
    background-color: seashell;
}

ul.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.icon-anim {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.icon-anim div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 1/1;
    width: 100%;
    max-width: 512px;
    min-width: 64px;
    margin: 8px;
    animation: fade 6s ease-in;
    opacity: 0;
    animation-fill-mode: forwards;
}
.icon-anim .html {
    background-image: url('html.png');
    animation-delay: 0.1s;
}
.icon-anim .css {
    background-image: url('css.png');
    animation-delay: 0.5s;
}
.icon-anim .js {
    background-image: url('js.png');
    animation-delay: 0.9s;
}
.icon-anim .php {
    background-image: url('php.png');
    animation-delay: 1.0s;
}

.portfolioImage {
    display: inline-block;
    width: 50%;
}
.portfolioImage + p {
    /*display: inline-block;*/
    width: 45%;
    float: right;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media all and (max-width: 640px) {
    header {
        flex-direction: column;
    }
    main {
        margin: 0 0.4rem;
    }
    li h3 {
        margin-top: 16px;
    }
    li h3:nth-child(1-n) {
        margin-top: 0;
    }
    ul.container {
        flex-direction: column;
        width: max-content;
        margin: 0 auto;
    }
    .icon-anim {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .icon-anim div {
        width: 20%;
        margin: 8px 0;
    }
}