.hidden {
    display: none;
}

.margin-center {
    margin: 0 auto;
}

body {
    margin: 1rem;
    background-color: slateblue;
    color:seashell;
    text-shadow: black 0.5px 0.5px 0.5px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 32px 0;
}

h1 {
    word-break: keep-all;
    width: 20rem;
    text-align: center;
    margin: 0;
}

main {
    clear: both;
}

ul {
    list-style: none;
    padding: 0;
}

ul h3 {
    margin: 0;
    display: inline-block;
}


li ul li {
    margin-left: 1rem;
}

img {
    display: block;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

ul.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div img {
    display: inline;
    width: 64px;
    margin: 0 8px;
    animation: fade 10s ease-in;
    opacity: 0;
    animation-fill-mode: forwards;
}

div img:nth-child(1) {
    animation-delay: 1.2s;
}
div img:nth-child(2) {
    animation-delay: 2.4s;
}
div img:nth-child(3) {
    animation-delay: 3.6s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    /*
    100% {
        opacity: 0;
    }
        */
}