.hidden {
    display: none;
}

.margin-center {
    margin: 0 auto;
}

body {
    margin: 1rem;
    background-color: slateblue;
    color:seashell;
    text-shadow: black 0.5px 0.5px 0.5px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 32px 0;
}

h1 {
    word-break: keep-all;
    width: 20rem;
    text-align: center;
    margin: 0;
}

main {
    clear: both;
}

ul {
    list-style: none;
    padding: 0;
}

ul h3 {
    margin: 0;
    display: inline-block;
}


li ul li {
    margin-left: 1rem;
}

img {
    display: block;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

ul.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*
div img {
    display: inline;
    width: 64px;
    margin: 0 8px;
    animation: fade 6s ease-in;
    opacity: 0;
    animation-fill-mode: forwards;
}
*/

/*
div img:nth-child(1) {
    animation-delay: 0.1s;
}
div img:nth-child(2) {
    animation-delay: 0.5s;
}
div img:nth-child(3) {
    animation-delay: 0.9s;
}
div img:nth-child(4) {
    animation-delay: 1.3s;
}
*/


.icon-anim {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.icon-anim div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 1/1;
    width: 100%;
    max-width: 512px;
    min-width: 64px;
    margin: 8px;
    animation: fade 6s ease-in;
    opacity: 0;
    animation-fill-mode: forwards;
}
.icon-anim .html {
    background-image: url('html.png');
    animation-delay: 0.1s;
}
.icon-anim .css {
    background-image: url('css.png');
    animation-delay: 0.5s;
}
.icon-anim .js {
    background-image: url('js.png');
    animation-delay: 0.9s;
}
.icon-anim .php {
    background-image: url('php.png');
    animation-delay: 1.3s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}